* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.image {
  width: 200px;
}
.content {
  display: grid;
  grid-template-columns: repeat(3, 300px);
  justify-content: center;
  margin-top: 10vh;
}
